html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  float:left;
  border-radius: 8px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #A565EE;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: #09FF0E;
  font-size: 1.3em;
  float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  color: #09FF0E;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #A565EE;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: #78C3FB;
}

.shopForm {
  border: 2px solid #A565EE;
  height: 35px;
  width: 700px;
  margin-top:0px;
  padding-top:10px;
  background-color: #A565EE;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.shopForm label {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
  font-size: 1.2em;
  float: left;
  color: #09FF0E;
}

.shopForm input[type=text] {
  float:left;
}

.makeCatSubmit {
  transition: background-color 0.4s ease;
  display: inline;
  width: 90px;
  background-color: #921460;
  border-radius: 2px;
  color: #09FF0E;
  text-decoration: none;
  margin-left: 40px;
}

.makeCatSubmit:link, .makeCatSubmit:visited, .makeCatSubmit:hover, .makeCatSubmit:active {
  color: #09FF0E;
}

.makeCatSubmit:hover {
  transition: background-color 0.8s ease;
  background-color: #DB00A1;
}

.petCat {
  transition: background-color 0.4s ease;
  display: inline;
  width: 90px;
  background-color: #921460;
  border-radius: 4px;
  color: #09FF0E;
  text-decoration: none;
  margin-left: 20px;
}

.petCat:link, .petCat:visited, .petCat:hover, .petCat:active {
  color: #09FF0E;
}

.petCat:hover {
  transition: background-color 0.4s ease;
  background-color: #DB00A1;
}

.mainForm {
  height: 300px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: #921460;
  border-radius: 2px;
  border-color: #66acee;
  padding: 3px 0px;
  color: #09FF0E;
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: #09FF0E;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #BF199C;
}

#user, #pass, #pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #A565EE;
}

#catMessage {
  display:none;
  top: 250px;
  width: 100px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#catMessage h3 {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#speech {
  height: 120px;
  width: 250px;
  z-index:300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

#cat {
  z-index: 225;
  margin-top: -20px;
  margin-left: 10px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  transform: rotate(330deg);
}

#cats {
  width: 40%;
  min-width: 600px;
  border: 2px solid #A565EE;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
}

.cat {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #A565EE;
  border-radius: 4px;
  background-color: #A565EE;
  padding: 10px;
  min-height:60px;
  overflow: hidden;
}

.cat:hover {
  transition: border-color 0.3s ease-out;
  border-color: rgba(255,255,255, 0.8);
  transition: background-color 0.3s ease-out;
  background-color: #F495EE;
}

img.catFace {
  margin-left: 25px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-top:10px;
  float:left;
}

h3.emptyCat {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

h3.catName {
  float:left;
  width: 100px;
  font-weight: bold;
  padding-left: 65px;
  font-size: 1.5em;
}

h3.catAge {
  float:right;
  text-align: left;
  width: 100px;
  font-weight: bold;
  padding-right: 40px;
  font-size: 1.5em;
}

.cat:first-child {
  margin-top: 10px;
}

.cat:last-child {
  margin-bottom:10px;
}
